<svg id="dashing" width="100" height="100">
  <path *ngFor="let segment of segments"
  [attr.d]="calculatePath(segment)" [attr.fill]="segment.color"
  [attr.transform]="calculateRotation(segment)"

   />
   <!-- transform="rotate(45)" -->
  <!-- <path d="M0,50a50,50 0 1,1 100,0" transform="translate(25 25)" stroke-dasharray="78.5 50" -->
  <!-- /> -->
  <!-- <path d="M0,50 a50,50 0 1,1 100,0" transform="translate(25 25)" class="alarm" stroke-dasharray="39.25 78.5" stroke-dashoffset="-78.5" > -->
  <!-- <path d="M0,50 a50,50 0 1,1 100,0" transform="translate(25 25)" class="alarm" stroke-dasharray="39.25 78.5" stroke-dashoffset="-78.5" /> -->
</svg>


<!-- <svg width="320" height="320" xmlns="http://www.w3.org/2000/svg">
  <path d="M10 315
           L 110 215
           A 30 50 0 0 1 162.55 162.45
           L 172.55 152.45
           A 30 50 -45 0 1 215.1 109.9
           L 315 10" stroke="black" fill="green" stroke-width="2" fill-opacity="0.5"/>
</svg> -->
<!-- <svg id="high" width="325" height="325" xmlns="http://www.w3.org/2000/svg">
  <path d="M80 80
           A 45 45, 0, 0, 0, 125 125
           L 125 80 Z" fill="green" />
  <path d="M230 80
           A 45 45, 0, 1, 0, 275 125
           L 275 80 Z" fill="red" />
  <path d="M80 230
           A 45 45, 0, 0, 1, 125 275
           L 125 230 Z" fill="purple" />
  <path d="M230 230
           A 45 45, 0, 1, 1, 275 275
           L 275 230 Z" fill="blue" />
  <circle cx="230" cy="230" r="2" fill="red" />
  <circle cx="275" cy="275" r="2" fill="red" />
  <circle cx="275" cy="230" r="2" fill="red" />

  <path d="M130 230
           a 45 45, 0, 1, 1, 45 45
           l 0 -45 Z" fill="blue" />

  <path d="M00 100
           a 45 45, 0, 1, 1, 90 0
           Z" fill="red" id="half"/>
  <path d="M00 100
           a 45 45, 0, 0, 1, 13.19 -31.81
           l 31.81 31.81 Z" fill="blue" id="quarter"/>
  <circle cx="0" cy="100" r="2" fill="red" />
  <circle cx="13.19" cy="68.19" r="2" fill="red" />
  <circle cx="45" cy="100" r="2" fill="red" />

  <path d="M00 275
           a 45 45, 0, 1, 1, 45 45
           l 0 -45 Z" fill="blue" />


</svg> -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="320" height="320">
  <path d="M10 315
           L 110 215
           A 36 60 0 0 1 150.71 170.29
           L 172.55 152.45
           A 30 50 -45 0 1 215.1 109.9
           L 315 10" stroke="black" fill="green" stroke-width="2" fill-opacity="0.5"/>
  <circle cx="150.71" cy="170.29" r="2" fill="red"/>
  <circle cx="110" cy="215" r="2" fill="red"/>
  <ellipse cx="144.931" cy="229.512" rx="36" ry="60" fill="transparent" stroke="blue"/>
  <ellipse cx="115.779" cy="155.778" rx="36" ry="60" fill="transparent" stroke="blue"/>
</svg> -->
