<div>
  <span class="axis" id="vAxis">Count</span>
  <svg id="chart" width="400" height="200">
    <g *ngFor="let bar of bars" (mouseleave)="clearCurrent()" (mouseenter)="setCurrent(bar)" class="region">
        <line [attr.x1]="bar.postion*5+2" [attr.x2]="bar.postion*5+2" y2="0" y1="200" 
        [attr.stroke-dasharray]="getDashArray(bar)"/>
      <line [attr.x1]="bar.postion*5+2" [attr.x2]="bar.postion*5+2" y2="0" y1="200" 
        [attr.stroke-dasharray]="getDashArrayForBackground(bar)" [attr.stroke-dashoffset]="getStrokeOffsetForBackground(bar)"  
        class="backgroundBar"/>
    </g>
  </svg>
  <div class="hAxis axis">
    Number of Lines per Methode {{currentBar?.postion}}x {{currentBar?.count}}
  </div>
</div>
